<p class="fw-bold fs-5">Available on {{ selectedDate | date: 'fullDate' }}</p>
<p class="fw-bold">Morning</p>
<button
  *ngFor="let timeSlot of morningTimeSlots"
  type="button"
  class="btn btn-outline-primary"
  (click)="onTimeSlotSelected(timeSlot)"
>
  {{ timeSlot.start | date: 'hh:mm aa' }}
</button>
<p class="fw-bold">Afternoon</p>
<button
  *ngFor="let timeSlot of afternoonTimeSlots"
  type="button"
  class="btn btn-outline-primary"
  (click)="onTimeSlotSelected(timeSlot)"
>
  {{ timeSlot.start | date: 'hh:mm aa' }}
</button>
<p class="fw-bold">Evening</p>
<button
  *ngFor="let timeSlot of eveningTimeSlots"
  type="button"
  class="btn btn-outline-primary"
  (click)="onTimeSlotSelected(timeSlot)"
>
  {{ timeSlot.start | date: 'hh:mm aa' }}
</button>
