@use '@angular/material' as mat;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@include mat.core();

@font-face {
  font-family: 'kurt-regular';
  src: url(./assets/fonts/KURT-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'kurt-italic';
  src: url(./assets/fonts/KURT-Italic.otf) format('opentype');
}

.kurt-font {
  font-family: 'KURT-italic', sans-serif;
}

.link-text {
  @apply text-blue-700 hover:text-blue-900 transition-all duration-300 underline;
}

/* this is to add an extra option color to the mat-raised-button
 * after defining a new class with mat-<name>
 * you can use it in the html like this:
 * <button mat-raised-button class="mat-<name>">Button</button>

.mat-mdc-raised-button.mat-success {
  --mdc-protected-button-container-color: green;
  --mdc-protected-button-label-text-color: white;
}
*/

/* this is to reflect a conflict between tailwind and angular material
 * when using a 'outline' appearance on a mat-form-field
 */
.mdc-notched-outline__notch {
  border-right: none;
}

/**
 * this is to add a new agular material theme
 * after defining a new palette with $<name>-palette
*/
$navaja-blue-palette: (
  50: #e0edff,
  100: #b3d2ff,
  200: #80b5ff,
  300: #4d97ff,
  400: #2680ff,
  500: #006aff,
  600: #0062ff,
  700: #0057ff,
  800: #004dff,
  900: #003cff,
  A100: #ffffff,
  A200: #f2f4ff,
  A400: #bfcaff,
  A700: #a6b5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$navaja-blue: mat.define-palette($navaja-blue-palette);
$mat-green: mat.define-palette(mat.$green-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $navaja-blue,
      accent: $mat-green
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($light-theme);
