<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h3 class="text-center mb-3">Choose a date</h3>
  <mat-vertical-stepper [linear]="true" #stepper class="booking-stepper">
    <mat-step label="Select a service">
      <service-picker
        [services]="services$ | async"
        (serviceSelected)="onServiceSelected($event)"
      >
      </service-picker>
    </mat-step>
    <mat-step label="Select a date">
      <mat-card class="inline-calendar-card mt-3 mb-3">
        <mat-calendar
          *ngIf="availability$ | async as availability"
          #calendar
          [dateFilter]="availability.dateFilter"
          [minDate]="availability.minDate"
          [maxDate]="availability.maxDate"
          (selectedChange)="onDateSelected($event)"
        ></mat-calendar>
      </mat-card>
    </mat-step>
    <mat-step label="Select a time">
      <mat-card class="inline-calendar-card mt-3 mb-3 p-3">
        <time-slots
          [timeSlotsByDate]="timeSlotsByDate$ | async"
          [selectedDate]="selectedDate$ | async"
          (timeSlotSelected)="onTimeSlotSelected($event)"
        >
        </time-slots>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
