# dependencies
node_modules/
npm-cache/

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular 
.angular/
.expo/

# System files
.DS_Store
Thumbs.db

# nx
.nx/cache
.nx/workspace-data