@if (bookingSubmitted) {
  @if (appointmentResponse$ | async; as appointmentResponse) {
    <p class="text-xl text-center">Your appointment summary</p>
    <div class="flex flex-col items-center justify-between">
      <appointment-summary
        [appointment]="appointmentResponse"
        [timeZone]="timeZone"
        class="py-5 sm:py-0"
      />
      <button mat-raised-button color="primary" (click)="onMyAppointments()">
        My appointments
      </button>
    </div>
  } @else {
    <div class="w-full flex flex-col items-center justify-center h-16">
      <mat-progress-spinner color="primary" mode="indeterminate" />
    </div>
  }
} @else {
  <div class="w-full flex items-center justify-center gap-3">
    <mat-vertical-stepper
      linear
      #stepper
      class="booking-stepper w-full max-w-lg"
    >
      <mat-step
        label="Select a service"
        [completed]="selectedService() ? true : false"
      >
        @if (services$ | async; as services) {
          <service-picker
            [services]="services"
            (serviceSelected)="onServiceSelected($event)"
          />
        }
      </mat-step>
      <mat-step
        label="Select a date"
        [completed]="selectedDateTimeSlots() ? true : false"
      >
        @if (availability$ | async; as availability) {
          <date-picker
            [dateFilter]="availability.dateFilter"
            [timeSlotsByDate]="availability.timeSlotsByDate"
            [minDate]="availability.minDate"
            [maxDate]="availability.maxDate"
            (dateSelected)="onDateSelected($event)"
          />
        } @else {
          <div class="w-full flex flex-col items-center justify-center h-8">
            <mat-progress-spinner color="primary" mode="indeterminate" />
          </div>
        }
      </mat-step>
      <mat-step
        label="Select a time"
        [completed]="selectedTimeSlot() ? true : false"
      >
        @if (selectedDateTimeSlots()) {
          <time-slots
            [dateTimeSlots]="selectedDateTimeSlots()"
            (timeSlotSelected)="onTimeSlotSelected($event)"
          />
        }
      </mat-step>
    </mat-vertical-stepper>
    @if (selectedService(); as service) {
      <div
        class="fixed bottom-5 px-5 z-10 w-full md:max-w-lg md:grow md:static md:p-0"
      >
        <appointment-preview
          [service]="service"
          [date]="selectedDateTimeSlots()?.date"
          [time]="selectedTimeSlot()?.start"
          [timeZone]="timeZone"
          (book)="onBook()"
        />
      </div>
    }
  </div>
}
