<div class="w-full flex items-center justify-center gap-3">
  <mat-vertical-stepper linear #stepper class="booking-stepper grow max-w-lg">
    <mat-step
      label="Select a service"
      [completed]="(selectedService$ | async) ? true : false"
    >
      <service-picker
        *ngIf="services$ | async as services"
        [services]="services"
        (serviceSelected)="onServiceSelected($event)"
      >
      </service-picker>
    </mat-step>
    <mat-step
      label="Select a date"
      [completed]="(selectedDateTimeSlots$ | async) ? true : false"
    >
      <date-picker
        *ngIf="availability$ | async as availability; else availabilityLoading"
        [dateFilter]="availability.dateFilter"
        [timeSlotsByDate]="availability.timeSlotsByDate"
        [minDate]="availability.minDate"
        [maxDate]="availability.maxDate"
        (dateSelected)="onDateSelected($event)"
      >
      </date-picker>
      <ng-template #availabilityLoading>
        <div class="w-full flex flex-col items-center justify-center h-8">
          <mat-progress-spinner color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </ng-template>
    </mat-step>
    <mat-step
      label="Select a time"
      [completed]="(selectedTimeSlot$ | async) ? true : false"
    >
      <time-slots
        *ngIf="selectedDateTimeSlots$ | async as selectedDateTimeSlots"
        [dateTimeSlots]="selectedDateTimeSlots"
        (timeSlotSelected)="onTimeSlotSelected($event)"
      >
      </time-slots>
    </mat-step>
  </mat-vertical-stepper>
  <appointment-summary
    class="fixed bottom-5 w-full max-w-sm mx-auto md:static"
    *ngIf="selectedService$ | async as service"
    [service]="service"
    [date]="(selectedDateTimeSlots$ | async)?.date"
    [timeSlot]="selectedTimeSlot$ | async"
    [timeZone]="timeZone"
    (book)="onBook()"
  ></appointment-summary>
</div>
