<div class="nav-bar">
  <div class="flex justify-start w-full md:container md:justify-between">
    <div class="flex items-center gap-1">
      <a class="burger" (click)="toggleSidenav()">
        <ng-icon class="text-2xl" name="heroBars3"></ng-icon>
      </a>
      <a routerLink="/">
        <img
          class="h-8 hover:h-9 transition-all duration-200"
          src="../assets/navajaLogo.png"
          alt="brand banner" />
      </a>
    </div>
    <div class="flex">
      <div class="hidden md:flex items-center gap-3">
        <a
          class="nav-link"
          [routerLink]="'/'"
          [routerLinkActive]="['font-bold']"
          [routerLinkActiveOptions]="{ exact: true }">
          Home</a
        >
        <a
          class="nav-link"
          [routerLink]="'/services'"
          [routerLinkActive]="['font-bold']"
          >Services</a
        >
        <a
          class="nav-link"
          [routerLink]="'/gallery'"
          [routerLinkActive]="['font-bold']"
          >Gallery</a
        >
        <a
          *ngIf="!isLoggedIn()"
          class="nav-link"
          [routerLink]="'/login'"
          [routerLinkActive]="['font-bold']"
          >Login</a
        >
        <a
          *ngIf="!isLoggedIn()"
          class="nav-link"
          [routerLink]="'/signup'"
          [routerLinkActive]="['font-bold']">
          Sign up
        </a>
        <a
          *ngIf="isLoggedIn()"
          class="nav-link"
          [routerLink]="'/profile'"
          [routerLinkActive]="['font-bold']"
          >Profile
        </a>
        <a
          *ngIf="isLoggedIn()"
          class="nav-link"
          [routerLink]="'/booking'"
          [routerLinkActive]="['font-bold']"
          >Book
        </a>
        <a
          *ngIf="isLoggedIn()"
          class="nav-link"
          [routerLink]="'/logout'"
          (click)="logOut()"
          >Logout
        </a>
      </div>
    </div>
  </div>
</div>
<mat-drawer-container hasBackdrop="true">
  <mat-drawer #sidenav class="w-80" mode="over">
    <div class="pt-14 flex flex-col">
      <a
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/'"
        [routerLinkActive]="['font-bold']"
        [routerLinkActiveOptions]="{ exact: true }">
        Home</a
      >
      <a
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/services'"
        [routerLinkActive]="['font-bold']"
        >Services</a
      >
      <a
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/gallery'"
        [routerLinkActive]="['font-bold']"
        >Gallery</a
      >
      <a
        *ngIf="!isLoggedIn()"
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/login'"
        [routerLinkActive]="['font-bold']"
        >Login</a
      >
      <a
        *ngIf="!isLoggedIn()"
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/signup'"
        [routerLinkActive]="['font-bold']">
        Sign up
      </a>
      <a
        *ngIf="isLoggedIn()"
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/profile'"
        [routerLinkActive]="['font-bold']"
        >Profile
      </a>
      <a
        *ngIf="isLoggedIn()"
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/booking'"
        [routerLinkActive]="['font-bold']"
        >Book
      </a>
      <a
        *ngIf="isLoggedIn()"
        class="sidenav-link"
        (click)="sidenav.toggle()"
        [routerLink]="'/logout'"
        (click)="logOut()"
        >Logout
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="h-screen pt-14">
      <div class="">
        <h1 class="kurt-font">
          {{ header() }}
        </h1>
        <router-outlet></router-outlet>
      </div>
      <footer class="">
        <div class="">
          <div class="">
            <div class="">
              <h6 class="">Navaja Barber Service</h6>
              <p>
                <small>
                  This application was developed using
                  <a href="https://angular.io/" class="">Angular</a>, and
                  <a href="https://firebase.google.com/" class="">Firebase</a>.
                </small>
              </p>
            </div>
            <div class="">
              <h6 class="">Contact</h6>
              <div class="row">
                <div class="">
                  <p>
                    <small>
                      <i class=""></i>
                      <a
                        class=""
                        href="https://www.linkedin.com/in/carlosnavaja16/"
                        >LinkedIn</a
                      >
                    </small>
                  </p>
                  <p>
                    <small>
                      <i class=""></i>
                      <a class="" href="https://www.github.com/carlosnavaja16/"
                        >Github</a
                      >
                    </small>
                  </p>
                </div>
                <div class="">
                  <p>
                    <small>
                      <i class=""></i>
                      <a class="" href="mailto:carlos.rossi16@gmail.com"
                        >Email</a
                      >
                    </small>
                  </p>
                  <p>
                    <small>
                      <i class=""></i>
                      <a class="" href="tel:19545158474">Phone</a>
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
