.navbar-logo {
  font-size: xx-large;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  line-height: 1;
}

.wide-footer {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.bottom-toolbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: white;

  @media (min-width: 768px) {
    display: none;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 0.5rem 0;

    mat-icon {
      margin: 0;
    }
  }
}
