<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput">
    <label for="floatingInput">First name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput">
    <label for="floatingInput">Last name</label>
</div>
<div class="form-floating mb-3">
    <input type="tel" class="form-control" id="floatingInput">
    <label for="floatingInput">Phone number</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput">
    <label for="floatingInput">Street address</label>
</div>
<div class="row gx-2">
    <div class="col-sm-7 mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGrid">
            <label for="floatingInputGrid">City</label>
        </div>
    </div>
    <div class="col-sm-2 mb-3">
        <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
                <option></option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DC">DC</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
            </select>
            <label for="floatingSelectGrid">State</label>
        </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid">
            <label for="floatingInputGrid">Zip code</label>
        </div>
    </div>
</div>  
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput">
    <label for="floatingInput">Email address</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword">
    <label for="floatingPassword">Password</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword">
    <label for="floatingPassword">Confirm password</label>
</div>
<div class="d-flex justify-content-center">
    <button (click)="signup()" class="btn btn-success">Success</button>
</div>