<div class="flex flex-col justify-center items-center">
  <img class="w-40" src="../../assets/barberPhoto.png" alt="barberPhoto" />
  <h1 class="font-bold text-xl text-center py-1">Carlos Rossi</h1>
  <h5 class="text-center">Mobile Barber</h5>
  <p class="text-center">
    <a
      class="text-xs link-text"
      href="https://www.myfloridalicense.com/LicenseDetail.asp?SID=&id=E79197D13A9225C488E924A53DD6153F"
    >
      Licensed by the State of Florida
    </a>
  </p>
  <div class="flex justify-content-center items-center gap-3 pt-5">
    <button
      color="primary"
      mat-flat-button
      [matTooltip]="
        isLoggedIn() ? '' : 'In order to book you will need to log In'
      "
      [routerLink]="isLoggedIn() ? '/booking' : '/login'"
    >
      <div class="flex justify-center items-center gap-3">
        <ng-icon class="text-lg" name="heroCalendarSolid"></ng-icon>
        <p class="font-bold">Book</p>
      </div>
    </button>
    <button color="primary" mat-flat-button href="tel:19545158474">
      <div class="flex justify-center items-center gap-3">
        <ng-icon class="text-lg" name="heroPhoneSolid"></ng-icon>
        <p class="font-bold">Call</p>
      </div>
    </button>
  </div>
</div>
