<form [formGroup]="userProfileForm" class="form">
  <mat-form-field [appearance]="appearance">
    <mat-label>First name</mat-label>
    <input [readonly]="!inEditMode" matInput formControlName="firstName" />
  </mat-form-field>
  <mat-form-field [appearance]="appearance">
    <mat-label>Last name</mat-label>
    <input [readonly]="!inEditMode" matInput formControlName="lastName" />
  </mat-form-field>
  <mat-form-field [appearance]="appearance">
    <mat-label>Street address</mat-label>
    <input [readonly]="!inEditMode" matInput formControlName="streetAddr" />
  </mat-form-field>
  <mat-form-field [appearance]="appearance">
    <mat-label>City</mat-label>
    <input [readonly]="!inEditMode" matInput formControlName="city" />
  </mat-form-field>
  <mat-form-field [appearance]="appearance">
    <mat-label>State</mat-label>
    <input [readonly]="!inEditMode" matInput formControlName="state" />
  </mat-form-field>
  <mat-form-field [appearance]="appearance">
    <mat-label>Zip code</mat-label>
    <input [readonly]="!inEditMode" matInput formControlName="zipCode" />
  </mat-form-field>
  <div>
    <button
      class="wide-button m-1"
      color="primary"
      mat-flat-button
      (click)="inEditMode ? onCancel() : onEdit()"
    >
      {{ inEditMode ? 'Cancel' : 'Edit' }}
    </button>
    <button
      *ngIf="inEditMode"
      class="wide-button m-1"
      color="primary"
      mat-flat-button
      [disabled]="userProfileForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
