<div class="container d-flex flex-column align-items-center">
  <p class="text-center mb-5">
    <small>
      Already have an account? <a [routerLink]="'/login'">Login</a>
    </small>
  </p>
  <form [formGroup]="loginForm" class="form">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email?.invalid && email?.touched"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="password?.invalid && email?.touched">
        Password is required
      </mat-error>
    </mat-form-field>
    <button
      class="wide-button m-1"
      color="primary"
      mat-flat-button
      [disabled]="loginForm.invalid"
      (click)="onLogin()"
    >
      Login
    </button>
  </form>
</div>
