<div class="mx-auto max-w-screen-md">
  @if ((appointments$ | async) === null) {
    <div class="w-full flex flex-col items-center justify-center h-16">
      <mat-progress-spinner color="primary" mode="indeterminate" />
    </div>
  } @else {
    @if (noAppointments$ | async) {
      <p class="text-center pb-5">
        <small>
          You have not booked any appointments yet.
          <a [routerLink]="'/booking'" class="link-text">Book now</a>
        </small>
      </p>
    } @else {
      @if (nextAppointment$ | async) {
        <p class="text-2xl">Your next appointment</p>
        <appointment-summary
          [appointment]="nextAppointment()!"
          [timeZone]="timeZone"
          class="pb-3"
          editable
          (reschedule)="onReschedule(nextAppointment()!)"
          (cancel)="onCancel(nextAppointment()!)"
        />
      }
      @if ((upcomingAppointments$ | async) || (pastAppointments$ | async)) {
        <mat-tab-group class="py-3" animationDuration="0ms">
          <mat-tab label="Upcoming">
            @for (
              appointment of upcomingAppointments;
              track appointment.eventId
            ) {
              <appointment-summary
                [appointment]="appointment"
                [timeZone]="timeZone"
                editable
                (reschedule)="onReschedule(appointment)"
                (cancel)="onCancel(appointment)"
              />
            }
          </mat-tab>
          @if (pastAppointments) {
            <mat-tab label="Past">
              @for (
                appointment of pastAppointments;
                track appointment.eventId
              ) {
                <appointment-summary
                  [appointment]="appointment"
                  [timeZone]="timeZone"
                />
              }
            </mat-tab>
          }
        </mat-tab-group>
      }
    }
  }
</div>
