<div class="mx-auto max-w-screen-md">
  @if ((appointments$ | async) === null) {
    <div class="w-full flex flex-col items-center justify-center h-16">
      <mat-progress-spinner color="primary" mode="indeterminate" />
    </div>
  } @else {
    @if (noAppointments$ | async) {
      <p class="text-center pb-5">
        <small>
          You have not booked any appointments yet.
          <a [routerLink]="'/booking'" class="link-text">Book now</a>
        </small>
      </p>
    } @else {
      @if (nextAppointment$ | async; as nextAppointment) {
        <p class="text-2xl">Your next appointment</p>
        <appointment-summary
          [appointment]="nextAppointment"
          class="pb-3"
          editable
          (reschedule)="onReschedule(nextAppointment)"
          (cancel)="onCancel(nextAppointment)"
        />
      }
      @if ((upcomingAppointments$ | async) || (pastAppointments$ | async)) {
        <mat-tab-group class="py-3" animationDuration="0ms">
          @if ((upcomingAppointments$ | async)?.length) {
            <mat-tab label="Upcoming">
              @for (
                appointment of upcomingAppointments$ | async;
                track appointment.eventId
              ) {
                <appointment-summary
                  [appointment]="appointment"
                  editable
                  (reschedule)="onReschedule(appointment)"
                  (cancel)="onCancel(appointment)"
                />
              }
            </mat-tab>
          }
          @if ((pastAppointments$ | async)?.length) {
            <mat-tab label="Past">
              @for (
                appointment of pastAppointments$ | async;
                track appointment.eventId
              ) {
                <appointment-summary [appointment]="appointment" />
              }
            </mat-tab>
          }
        </mat-tab-group>
      }
    }
  }
</div>
