<div class="py-3">
  <p class="text-lg font-bold">
    Available on {{ dateTimeSlots?.date | date: 'fullDate' }}
  </p>
</div>
<div class="pb-3">
  <p class="font-bold">Morning</p>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-3">
    @for (timeSlot of morningTimeSlots; track timeSlot.start) {
      <button
        mat-flat-button
        color="primary"
        (click)="onTimeSlotSelected(timeSlot)"
      >
        {{ timeSlot.start | date: 'hh:mm aaa' }}
      </button>
    } @empty {
      <button mat-flat-button disabled>All Booked</button>
    }
  </div>
</div>
<div class="pb-3">
  <p class="font-bold">Afternoon</p>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-3">
    @for (timeSlot of afternoonTimeSlots; track timeSlot.start) {
      <button
        mat-flat-button
        color="primary"
        (click)="onTimeSlotSelected(timeSlot)"
      >
        {{ timeSlot.start | date: 'hh:mm aaa' }}
      </button>
    } @empty {
      <button mat-flat-button disabled>All Booked</button>
    }
  </div>
</div>
<div class="pb-3">
  <p class="font-bold">Evening</p>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-3">
    @for (timeSlot of eveningTimeSlots; track timeSlot.start) {
      <button
        mat-flat-button
        color="primary"
        (click)="onTimeSlotSelected(timeSlot)"
      >
        {{ timeSlot.start | date: 'hh:mm aaa' }}
      </button>
    } @empty {
      <button mat-flat-button disabled>All Booked</button>
    }
  </div>
</div>
