/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'kurt-regular';
    src: url(./assets/fonts/KURT-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'kurt-italic';
    src: url(./assets/fonts/KURT-Italic.otf) format('opentype');
}
