/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'kurt-regular';
  src: url(./assets/fonts/KURT-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'kurt-italic';
  src: url(./assets/fonts/KURT-Italic.otf) format('opentype');
}

.kurt-font {
  font-family: 'KURT-italic', sans-serif;
}

.link-text {
  @apply text-blue-700 hover:text-blue-900 transition-all duration-300;
}

/* 
 * set material button color
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #0284c7;
  --mdc-protected-button-label-text-color: white;
}
*/
.mat-mdc-raised-button.mat-success {
  --mdc-protected-button-container-color: green;
  --mdc-protected-button-label-text-color: white;
}
