/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "kurt-regular";
  src: url(./assets/fonts/KURT-Regular.otf) format("opentype");
}

@font-face {
  font-family: "kurt-italic";
  src: url(./assets/fonts/KURT-Italic.otf) format("opentype");
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.small-form {
  width: 575px;
}

.wide-button {
  width: 20%;
}

.kurt-font {
  font-family: "KURT-italic", sans-serif;
}

.mt-6 {
  margin-top: 5rem;
}

.snackbar-success {
  --mdc-snackbar-container-color: #{$primary};
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.snackbar-warn {
  --mdc-snackbar-container-color: #{$danger};
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
