<div class="container">

    <h3 class="text-center">Carlos Navaja</h3>
    <h4 class="text-center">Mobile Barber Service</h4>
    <h6>(954) 515 - 8474</h6>

    <div class="text-white">
        <div class="" role="tab" id="headingOne">
            <a data-toggle="collapse" href="#licensed" aria-expanded="true" aria-controls="collapseOne">
            Licensed <i class="fas fa-check-square"></i>
            </a>
        </div>

        <div id="licensed" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="container text-white">
                <br>
                    Licensed by the State of Florida.
                    
                    <p class="font-weight-bold">Licence Number: BB8902443</p>
                <br>
                <br>
            </div>
        </div>
    </div>

    <br>

    <p>Book me and I will come to you!</p> 

    <a type="button" class="btn btn-primary">
        Book an appointment
    </a>
    
    <br>

</div>